/* Dependances */
@import url('<link href="https://fonts.googleapis.com/css?family=Rubik&display=swap" rel="stylesheet"> ');



/* Main CSS Start */
:root
{
    /* Font Size Start */
    --small-text-size: calc(var(--text-size) * 0.8);
    --text-size: 2.2vmin;
    --big-text-size: calc(var(--text-size) * 1.1);
    --small-title-size: calc(var(--title-size) * 0.75);
    --title-size: 4vmin;
    --big-title-size: calc(var(--title-size) * 1.5); 
    /* Font Size End */

    /* Font Family Start */
    --text-family: 'Rubik', sans-serif;
    --title-family: 'Rubik', sans-serif;
    /* Font Family End */

    /* Colors Start */
    --color-primary: hsl(231, 69%, 60%);
    --color-secondary: hsl(229, 8%, 60%);
    --color-tertiary: hsl(0, 94%, 66%);
    --color-accent: hsl(229, 31%, 21%);
    --color-contrast: #fff;
    /* Colors End */

    --box-shadow: 0px 5px 7px 0px rgba(0,0,0,0.13);
}

*
{
	margin: 0;
	padding: 0;
	border: none;
	outline: none;
	box-sizing: border-box;
	text-decoration: inherit;
	text-transform: inherit;
	color: inherit;
	list-style: inherit;
	font-size: inherit;
	font-family: inherit;
	font-weight: inherit;
}

body
{
    font-size: var(--text-size);
    line-height: 1.5;
	color: var(--color-secondary);
	list-style: none;
	font-family: var(--text-family);
	font-weight: 400;
	text-decoration: none;
    text-transform: none;
    overflow-x: hidden;
}

::-webkit-scrollbar 
{
    width: 7px;
}

::-webkit-scrollbar-track 
{
    background: white;
}

::-webkit-scrollbar-thumb 
{
    background: var(--color-secondary);
    border-radius: 25px;
}

@media only screen and (max-width: 480px), (orientation: portrait)
{
    :root
    {
        --text-size: 14px;
        --title-size: 19px;
        --small-title-size: calc(var(--title-size) * 0.9);
        --big-title-size: calc(var(--title-size) * 1.2); 
    }
}


/* General CSS Start */
h1{
    font-size: var(--big-title-size);
    font-weight: 600;
    color: var(--color-accent);
    margin-bottom: 1rem;
}

h2{
    font-size: var(--title-size);
    font-weight: 600;
    color: var(--color-accent);
    margin-bottom: 1rem;
}
h3{
    font-size: var(--small-title-size);
    font-weight: 600;
    color: var(--color-accent);
}
.small-text{
    font-size: var(--small-text-size);
}
.btn-red{
    background-color: var(--color-tertiary);
    padding: .5rem 2rem;
    color: var(--color-contrast);
    text-transform: uppercase;
    font-size: var(--small-text-size);
    border-radius: 4px;
    font-weight: 600;
    box-shadow: var(--box-shadow);
    cursor: pointer;
    border: 2px solid transparent;
}
.btn-red:hover{
    border: 2px solid var(--color-tertiary);
    background-color: var(--color-contrast);
    color: var(--color-tertiary);
}
button:active{
  transform: scale(0.95);  
}
.btn-blue{
    background-color: var(--color-primary);
    padding: .8rem 1.5rem;
    color: var(--color-contrast);
    font-size: var(--small-text-size);
    font-weight: 600;
    border-radius: 4px;
    box-shadow: var(--box-shadow);
    cursor: pointer;
    border: 2px solid transparent
}
.btn-blue:hover{
    border: 2px solid var(--color-primary);
    background-color: var(--color-contrast);
    color: var(--color-primary);
}
.btn-grey{
    background-color: #f7f7f7;
    padding: .8rem 1.5rem;
    color: var(--color-accent);
    font-size: var(--small-text-size);
    font-weight: 600;
    margin-left: 1rem;
    border-radius: 4px;
    box-shadow: var(--box-shadow);
    cursor: pointer;
    border: 2px solid transparent
}
.btn-grey:hover{
    border: 2px solid rgb(75, 75, 75);
    background-color: var(--color-contrast); 
    
}
.btn-contact{
    background-color: var(--color-primary);
    padding: .8rem 1.5rem;
    color: var(--color-contrast);
    font-size: var(--small-text-size);
    font-weight: 600;
    border-radius: 4px;
    box-shadow: var(--box-shadow);
    cursor: pointer;
    border: 2px solid transparent
}
.container-wide{
    width: 85%;
    margin: 0 auto;
}
.container-slim{
    width: 40%;
    margin: 0 auto;
}
.row{
    display: flex;
    align-items: center;
}
.mb-4{
    margin-bottom: 2rem;
}

@media only screen and (max-width: 992px){
   .row{
       display: flex;
       flex-wrap: wrap;

   }
   .container-slim{
       width: 70%;
   }
}
@media only screen and (max-width: 375px), (orientation: portrait){
    .btn-grey{
        padding: .7rem 1rem;
    }
    .btn-blue{
        padding: .7rem 1rem;
    }
    .container-slim{
        width: 90%;
    }
 
}


/* General CSS End */


/* Navbar CSS Start */
nav{
    height: 10vh;
    display: flex;
    align-items: center;
}
.nav-link{
    text-transform: uppercase;
    font-size: var(--small-text-size);
    font-weight: 600;
}
.nav-link:hover{
    color: var(--color-tertiary);
}
.nav-link-container{
    width: 40%;
    margin-left: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-menu{
    display: none;
}
@media only screen and (max-width: 992px){
    .nav-link-container {
        width: 60%;
    }
}
@media only screen and (max-width: 375px), (orientation: portrait){
    .nav-link-container{
        display: none;
    }
    .nav-menu{
        display: block;
        margin-left: auto;
    }
}

/* Navbar CSS End */


/* Header CSS Start */
header{
    padding: 4rem 0;
}
.header-info{
    width: 40%;
}

.header-img-container{
    height: auto;
    width: 55%;
    margin-left: auto;
    position: relative;
}
.header-img{
    width: 100%;
    position: relative;
    left: 10%;
}
.background-element-right{
    position: absolute;
    right: -60%;
    top: 20%;
    border-radius: 200px;
    background-color: var(--color-primary);
    height: 80%;
    width: 120%;
    z-index: -1;
}

@media only screen and (max-width: 992px){
    .header-info{
        width: 70%;
        text-align: center;
        margin: 0 auto;
    }
    .header-img-container{
        width: 80%;
        position: relative;
        margin: 0 auto;
        left: 0;
        order: -1;
        margin-bottom: 2rem;
    }
    .header-img{
        position: relative;
        left: 0;
    } 
}

@media only screen and (max-width: 375px), (orientation: portrait){
    .header-info{
        width: 100%;
        text-align: center;
        margin: 0 auto;
    }
    .header-btn-container{
        width: 100%;
        margin: 0 auto;
        display: flex;
        justify-content: center;
    }
    .header-img-container{
        width: 100%;
        position: relative;
        left: 0;
        order: -1;
        margin-bottom: 2rem;
    }
    .header-img{
        position: relative;
        left: 0;
    } 

}


/* Header CSS Start */


/* Content CSS Start */
    /* Features */
.features{
    text-align: center;
    margin-bottom: 4rem;
    margin-top: 2rem;
}
.features-tabs{
    width: 60%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    margin-bottom: 4rem;
}
.tab{
    height: 50px;
    width: 33.333333%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    border-bottom: 1px solid lightgrey;
    cursor: pointer;
}
#tab1{
    color: var(--color-accent);
}
.tab-link:hover{
    color: var(--color-tertiary);
}
.red-line{
    height: 3px;
    width: 100%;
    background-color: var(--color-tertiary);
    align-self: flex-end;
}
.features-content{
    height: 60vmin;
    display: flex;
    align-items: center;
}
.features-img-container{
    position: relative;
    width: 50%;
}
.features-img{
    width: 100%;
}
.features-info{
    width: 35%;
    height: auto;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.background-element-left{
    position: absolute;
    right: 25%;
    top: 40%;
    border-radius: 200px;
    background-color: var(--color-primary);
    height: 80%;
    width: 1500px;
    z-index: -1;
}

        /* Download */
.download{
    margin-top: 8rem;
    margin-bottom: 8rem;
}
.download-text{
    text-align: center;
}
.browsers{
    width: 60%;
    height: auto;
    margin: 0 auto;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.card-align{
    transform: translateY(10%);
}
.card-align2{
    transform: translateY(20%)
}
.browser-card{
    width: 30%;
    padding: 3rem 0 2rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: var(--box-shadow);
    border-radius: 10px;
    background-color: var(--color-contrast);
}
.browser-logo{
    margin-bottom: 1.5rem;
}
.dot-line{
    width: 100%;
    margin-bottom: 1.5rem;
}

        /* FAQ's */
.faqs{
    margin-bottom: 9rem;
}
.faqs-info{
    text-align: center;
    margin-bottom: 4rem;
}
.questions-container{
    border-bottom: 1px solid lightgrey;
    paddin
}
.questions{
    color: var(--color-accent);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .8rem 0;
    cursor: pointer;
}
.questions:hover{
    color: var(--color-tertiary);
}
#question-1{
    border-top: 1px solid lightgrey; 
}
.answers{
    padding: .8rem 0;
    font-size: var(--small-text-size);
}
.faqs-btn-container{
    margin-top: 3rem;
    display: flex;
    justify-content: center;
}

        /* Contact */
.contact{
    background-color: var(--color-primary);
    color: white;
    padding: 5rem 0;
    text-align: center;
}

.contact-eyebrow{
    font-size: var(--small-text-size);
    text-transform: uppercase;
    letter-spacing: 3px;
    margin-bottom: 2rem;
}
.contact-title{
    color: var(--color-contrast);
    margin-bottom: 2rem;
}
.contact-form{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.contact-input{
    margin-right: 1rem;
    flex:1;
    border-radius: 4px;
    color: var(--color-secondary);
    padding: 0 1rem;
}
.btn-contact{
    background-color: var(--color-tertiary);
    padding: .8rem 1.5rem;
    color: var(--color-contrast);
    font-size: var(--small-text-size);
    font-weight: 600;
    border-radius: 4px;
    cursor: pointer;
    border: 2px solid transparent
}
.btn-contact:hover{
    border-color: var(--color-tertiary);
    background-color: var(--color-contrast);
    color: var(--color-tertiary);
}

    /* Footer */
footer{
    background-color: var(--color-accent);
    color: white;
    padding: 2rem 0;
}
.footer-menu{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.footer-link-container{
    display: flex;
    flex-direction: row;
}
.footer-logo{
    margin-right: 2rem;
}
.footer-link{
    padding: 0 1rem;
    font-size: var(--small-text-size);
    text-transform: uppercase;
}
.footer-link:hover{
    color: var(--color-tertiary);
}
.social-icons{
    margin-left: auto;
}
svg:hover path{
    fill: var(--color-tertiary);
}
svg{
    margin: 0 .8rem;
    scale: .8;
    cursor: pointer;
}
svg:active {
    transform: scale(0.95);
}
.attribution{
    background-color: var(--color-tertiary);
    color: var(--color-contrast);
    text-align: center;
    padding: .5rem 0;
    font-size: 12px;
}

@media only screen and (max-width: 992px){
     .features-content{
        height: auto;
        display: flex;
        flex-wrap: wrap;

    }
    .features-img-container{
        width: 70%;
        margin: 0 auto;
    }
    .background-element-left{
        top: 30%;
    }
    .features-info{
        width: 70%;
        text-align: center;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        margin-top: 4rem;
    }
    .features-tabs{
        display: flex;
        flex-wrap: wrap;
    }
    .tab{
        width: 100%;
        display: flex;
        padding-top: .5rem;
        flex-direction: column;
        justify-content: center;
        border-top: 1px solid lightgrey;
    }
    .red-line{
        width: 25%;
        position: relative;
        margin: auto auto 0 auto
    }
    .btn-sm-hidden{
        display: none;
    }
    .browsers{
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .browser-card{
        width: 260px;
    }
}

@media only screen and (max-width: 375px), (orientation: portrait){
    .features-img-container{
        width: 95%;
        margin: 0 auto;
    }
    
    .features-info{
        width: 80%;
        text-align: center;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
    .features-tabs{
        width: 85%;
    }
    .tab{
        padding-top: .8rem;
    }
    .browser-card{
        
    }
    .contact-form{
        display: block;
    }
    .contact-input{
        width: 100%;
        padding: .8rem 1.5rem;
        margin-bottom: 1rem;
    }
    .btn-contact{
        width: 100%;
    }
    .footer-menu{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .footer-logo{
        margin-bottom: 1.5rem;
    }
    .footer-link-container{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .footer-link{
        margin-bottom: 1.5rem;
    }
    .social-icons{
        margin-left: 0;
        mar
    }
}





.hidden{
    display:none;
}
